{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<center>
<div class = "content"></div>
    <h1>Task Master</h1>

    
    <table  border=1 frame=box rules=all style="width:70%">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
            <center>
                <a href="">Delete-o</a>
                <br>
                <a href="">Update</a>
            </center>
            </td>
        </tr>
    </table>
    </center>
{% endblock %}

