{% extends 'base.html' %}

{% block head %}
<title>Task  Master</title>
{% endblock %}


{% block body %}
<center>
<div class = "content">
    <h1>Task Master</h1>

<!-- create table -->
    <table  border=1 frame=box rules=all style="width:70%">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
            <center>
                <a href="">Delete-o</a>
                <br>
                <a href="">Update</a>
            </center>
            </td>
        </tr>
    </table>
</center>

    <form action="/" method="POST">
        <input type = "text" name = "content" id="content">
        <input type="submit" value = "Add Task">
    </form>
</div>
{% endblock %}

